
BlazorDapperCrud/.vs/BlazorDapperCrud/v16/.suo
BlazorDapperCrud/.vs/BlazorDapperCrud/v16/Server/sqlite3/db.lock
BlazorDapperCrud/.vs/BlazorDapperCrud/v16/Server/sqlite3/storage.ide
BlazorDapperCrud/.vs/BlazorDapperCrud/v16/Server/sqlite3/storage.ide-shm
BlazorDapperCrud/.vs/BlazorDapperCrud/v16/Server/sqlite3/storage.ide-wal
