@using BlazorDapperCrud.Data
@page "/videolist"
@inject IVideoService VideoService

<h3>VideoList</h3>
<p style="text-align:center">
    <a href="/videoAdd">Add a Video</a>
</p>
@if(VideoService == null)
{
    <p style="text-align:center">
        <img src="~/images/loader.gif" />
    </p>
}
else
{
    <table>
        <tr>
            <th>Edit</th>
            <th>Video Title</th>
            <th>Date Published</th>
            <th>Is Active</th>
        </tr>
        @foreach(var video in videos)
        {
        <tr>
            <td>
                <img src="~/images/iEdit.png" />
            </td>
        </tr>
        }
    </table>
}



@code {

}
